<h6> Jugadores <h6>

  <hr>


  <div class="row">
    <div class="col-md-12">
      <button [routerLink]="['/jugador','nuevo']" class="btn btn-outline-primary"
         type="button" name="button">
         Nuevo Jugador
       </button>
    </div>
    </div>
    <br>


  <div class="row animated fadeIn fast" >
    <div class="col-md-12">
      <div class="table-table-responsive-sm">


        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
              <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Categoria</th>
                  <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let k of jugadores | keys; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{jugadores[k].nombre}}</td>
              <td>{{jugadores[k].apellidos}}</td>
              <td>{{jugadores[k].nacimiento}}</td>
              <td>{{jugadores[k].categoria}}</td>
              <td><button [routerLink]="['/jugador',k]"
                type="button"
              class="btn btn-outline-success"  >
                 Editar
               </button>
               </td>

            </tr>
         </tbody>
            </table>

        </div>
        </div>
        </div>


        <p></p>

        <app-footer></app-footer>
