
<h3 class="text-center">
  MISIÓN
</h3>

<p class="text-justify">
  Fortalecer la parte deportiva en los jóvenes y promover en la población valores cívicos y morales a través de actividades deportivas. De allí, la idea de constituir legalmente este Club, para promover espacios de recreación en jóvenes de la zona del Carvajal en la localidad de Kennedy y sus alrededores.
  El Club deportivo Real Carvajal F.C. busca contribuir al desarrollo físico, cultural y mental de nuestros jóvenes con el fin de mejorar la convivencia en el sector donde nos encontramos, aprovechando el tiempo libre de estos mediante la práctica deportiva del fútbol en espacios libres y adecuados, explotando, en cada uno de ellos, los fundamentos físicos, técnicos del fútbol y la parte axiológica la cual nos permitirá educar jóvenes capaces de colaborar y ser un bien dentro de su comunidad.
</p>

  <h3 class="text-center">
      VISIÓN
  </h3>
  <p class="text-justify">
      El Club Real Carvajal F.C, para el año 2017 se constituirá legalmente ante las entidades correspondientes, en consecución se enfocara en la práctica del deporte en este caso el fútbol, para poder seguir creciendo en la parte deportiva participando en los diferentes torneos a nivel local y a nivel distrital; y en la parte de valores poder formar una gran familia donde nos enfocamos en construir jóvenes activos y que traigan beneficio para la comunidad.
  </p>

<p></p>
<app-footer></app-footer>
